.footer{
 position: fixed;
 padding-top: 0.5rem;
 padding-bottom: 0.5rem;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: rgba(196, 176, 188, 0.34);
 color: white;
 font-size: 1.5rem;
 text-align: center;
}
